{% extends 'main/base.html' %}
{% block title %} <title>Sign up</title> {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <form method="post">
            <h2 class="text-center py-3">Sign up</h2>
            {% csrf_token %}
            {{ form|crispy }}
            
            <p>Have an account? Login <a href="/login">Here</a></p>
            <button type="submit" class="btn btn-success">Sign up</button>
        </form>
    </div>

{% endblock %}